@using TennisCorner.Web.ViewModels.Tournaments
@model TournamentViewModel
@{
    this.ViewData["Title"] = @Model.TournamentName;
}

<div class="banner-top">
    <div class="container">
    </div>
</div>
<div class="inner-information-text">
    <div class="container">
        <h3>@Model.TournamentName</h3>
        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">@Model.TournamentName</li>
        </ul>
    </div>
</div>