@using TennisCorner.Common

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="full">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a href="#"><img src=@GlobalConstants.Images.Logo alt="#" /></a>
                    </div>
                    <p>
                        "Tennis is, more than most sports, a sport of the mind."

                        - Rafael Nadal.
                    </p>
                    <ul class="social-icons style-4 pull-left">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="full">
                <div class="footer-widget">
                    <h3>Menu</h3>
                    <ul class="footer-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="news.html">Latest News</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="full">
                <div class="footer-widget">
                    <h3>Contact us</h3>
                    <ul class="address-list">
                        @*Addres of International Tennis Federation*@
                        <li>
                            <i class="fa fa-map-marker"></i> Bank Lane
                            Roehampton
                            London
                            SW15 5XZ
                            United Kingdom
                        </li>
                        <li><i class="fa fa-phone"></i> 123 456 7890</li>
                        <li><i style="font-size:20px;top:5px;" class="fa fa-envelope"></i> demo@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="full">
                <div class="contact-footer">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.0053177772!2d-0.2569715825561523!3d51.458058799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760eec66f3b985%3A0xf022e9d331f1a2df!2zQmFuayBMbiwgTG9uZG9uIFNXMTUsINCS0LXQu9C40LrQvtCx0YDQuNGC0LDQvdC40Y8!5e0!3m2!1sbg!2sbg!4v1654779425810!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright © @DateTime.UtcNow.Year Distributed by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
    </div>
</div>