@using TennisCorner.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    @if (this.ViewData["Title"].ToString() == "Home Page")
    {
        <title>@GlobalConstants.SystemName</title>
    }
    <title>@this.ViewData["Title"]</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="" type="~/image/x-icon" asp-append-version="true" />
    <link rel="apple-touch-icon" href="" asp-append-version="true">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="~/css/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="~/css/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- font family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" asp-append-version="true">
    <!-- end font family -->
    <!-- FontAwsome -->
    <script src="https://kit.fontawesome.com/962e3b47ab.js" crossorigin="anonymous"></script>
    <!-- End FontAwsome -->
    <link rel="stylesheet" href="~/css/3dslider.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="~/text/css" href="https://www.jqueryscript.net/css/jquerysctipttop.css" asp-append-version="true">
    <script src="~/js/3dslider.js"></script>
</head>
<body class="game_info" data-spy="scroll" data-target=".header">
    <!-- LOADER -->
    <partial name="_LoaderPartial.cshtml" />
    <!-- END LOADER -->
    <section id="top">
        <header>
            <partial name="_HeaderPartial.cshtml">
        </header>
    </section>

    @if (IsSectionDefined("HomeBannerPartial"))

    {
        <div class="full-slider">
        @RenderSection("HomeBannerPartial")
        </div>
    }



    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <partial name="_FooterPartial.cshtml" />
    </footer>

    <!-- ALL JS FILES -->
    <script src="~/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/custom.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>