@using TennisCorner.Common
@{
    this.ViewData["Title"] = "Error 404";
}

<div class="container">
    <div class="row mr-2">
        <div class="col-5">
            <div class="row">
                <div class="col-3">
                    <img src="@GlobalConstants.Images.Error404" class="img-thumbnail" />
                    <div class="col-8 pt-2" id="info">
                        <div>
                            <a class="btn btn-block btn-Players" asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
