@using TennisCorner.Common
@{
    this.ViewData["Title"] = "Players";
}

<div class="inner-page-banner">
    <div class="container">
    </div>
</div>
<div class="inner-information-text">
    <div class="container">
        <h3>Players</h3>
        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="active">Players</li>
        </ul>
    </div>
</div>

<secion>
    <div class="matchs-info">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="full">
                    <div class="matchs-vs">
                        <div class="vs-team">
                            <div class="team-btw-match">
                                <img class="img-responsive img-Players" src=@GlobalConstants.Images.Mens>
                                <a class="btn btn-block btn-Players" asp-area="" asp-controller="Players" asp-action="MensSingle">Men's Single</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="matchs-info">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="full">
                        <div class="matchs-vs">
                            <div class="vs-team">
                                <div class="team-btw-match">
                                    <img class="img-responsive  img-Players" src=@GlobalConstants.Images.Womens>
                                    <a class="btn btn-block btn-Players" asp-area="" asp-controller="Players" asp-action="WomenSingle">Women's Single</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</secion>
