@using TennisCorner.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section HomeBannerPartial {
    <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="item active deepskyblue" data-ride="carousel" data-interval="5000">
            <div class="carousel-caption">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding-top: 150px;">
                    <div class="slider-contant" data-animation="animated fadeInRight">
                        <h3>"If you don't <span class="color-yellow"><br>LOSE</span>,<br>you cannot<span class="color-yellow"><br> ENJOY</span><br>the <span class="color-yellow"><br>VICTORIES!"</span></h3>
                        <h1>- Rafael Nadal</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.item -->
        <!-- Second slide -->
        <div class="item skyblue" data-ride="carousel" data-interval="5000">
            <div class="carousel-caption">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding-top: 150px;">
                    <div class="slider-contant" data-animation="animated fadeInRight">
                        <h3>"Tennis <br>is a <span class="color-yellow">PSYCHOLOGICAL</span><br>sport, you have to <span class="color-yellow">KEEP</span><br>a clear head."</h3>
                        <h1>- Boris Becker</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.item -->
        <!-- Third slide -->
        <div class="item darkerskyblue" data-ride="carousel" data-interval="5000">
            <div class="carousel-caption">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12"></div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding-top: 150px;">
                    <div class="slider-contant" data-animation="animated fadeInRight">
                        <h3>"You have to want to <span class="color-yellow">PLAY IT </span><br>all day, <span class="color-yellow">EVERY DAY</span><br>to get to the top."</h3>
                        <h1>- Monica Seles</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.item -->
    </div>
    <!-- /.carousel-inner -->
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->
<div class="news">
    <div class="container">
        <div class="heading-slider">
            <p class="headline"><i class="fa fa-star" aria-hidden="true"></i> Top Headlines :</p>
            <!--made by vipul mirajkar thevipulm.appspot.com-->
            <h1>
                <a href="" class="typewrite" data-period="2000" data-type='[ "Contrary to popular belief, Lorem Ipsum is not simply random text.", "Lorem Ipsum is simply dummy text of the printing and typesetting industry.", "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <a>
                <span class="wrap"></span>
            </a>
        </div>
    </div>
</div>
}
